
nav.container {
    width: 100%;
    color: white;
    height: 100px;
    background-color: #1b1b1b;
    padding: 4px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: background-color 0.5s;
}

nav.sticky-nav {
    background-color: #2a629a; 
}

.logo {
    width: 180px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.menu-icon {
    display: none;
}

/* -------- media query -------*/

@media (max-width: 1000px) {
    .logo {
        width: 140px;
    }
    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 840px) {
    nav.container {
        padding: 15px 0;
        height: 76px;
        z-index: 100;
        position: fixed; 
        top: 0; 
        left: 0; 
        padding-right: 18px;
    }
    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #2a629a;
        z-index: 0;
        width: 210px;
        padding-top: 70px;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px 40px;
    }
    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
        z-index: 1;
    }
    .hide-mobile-menu {
        right: -210px;
    } 
}
